.button-black {
    margin-top: 25px;
    background: black;
    color: white;
    padding: 13px 15px 13px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  
  .button-black .ceta {
    margin-left: 5px;
  }
  .button-gray{
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 12px;
    font-weight: 100;
    border-radius: 5px;
  }